.speaker-section {
  margin-bottom: 300px;
}

.speaker-section-container {
  background-color: #d87d4a;
  min-height: 560px;
  padding: 60px 40px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.speaker-section .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;

  z-index: 3;
  position: relative;

  align-items: flex-start;
}

.speaker-img {
  position: absolute;
  bottom: -20px;
  left: 100px;
  max-width: 410px;
  z-index: 2;
}

.circle-img {
  position: absolute;
  max-width: 944px;
  left: -150px;
  bottom: -300px;
  z-index: 1;
}
